body {
  margin: 0;
  padding: 0;
  min-height: 700px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, Sans-Serif;
  color: white;
  background: #555;
}
body a {
  color: white;
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4 {
  font-weight: normal;
  margin: 0px;
}
body h1 {
  font-size: 80px;
  font-family: 'HelveticaNeue-UltraLight', Helvetica, Arial, Sans-Serif;
}
body li {
  font-size: 16px;
  line-height: 16px;
}
body ul {
  list-style-type: none;
  padding: 0;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
body div.city-detail section.city-header {
  position: relative;
  text-align: center;
  left: 0px;
  right: 0px;
  margin-top: 20px;
  height: 140px;
}
body div.city-detail section.today {
  text-align: center;
  position: relative;
  left: 0px;
  right: 0px;
  margin-top: 10px;
  height: 120px;
}
body div.city-detail section.today ul.today-overview {
  text-align: left;
  position: absolute;
  height: 25px;
  left: 0px;
  right: 0px;
  top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
body div.city-detail section.today ul.today-overview li {
  position: relative;
  float: left;
  width: 25%;
}
body div.city-detail section.today ul.today-overview li:nth-child(3),
body div.city-detail section.today ul.today-overview li:nth-child(4) {
  text-align: right;
}
body div.city-detail section.today div {
  position: absolute;
  height: 94px;
  top: 26px;
  overflow-x: scroll;
  overflow-y: hidden;
  left: 0px;
  right: 0px;
}
body div.city-detail section.today div ul.today-hourly-list {
  position: relative;
  top: 7px;
  height: 80px;
}
body div.city-detail section.today div ul.today-hourly-list > li {
  position: relative;
  float: left;
  width: 64px;
  height: 64px;
}
body div.city-detail section.today div ul.today-hourly-list > li li {
  font-size: 13px;
  height: 30px;
}
body div.city-detail section.today div ul.today-hourly-list > li img {
  height: 20px;
  width: 20px;
}
body div.city-detail section.forecast {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
}
body div.city-detail section.forecast ul.forecast-list {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
body div.city-detail section.forecast ul.forecast-list li {
  height: 26px;
}
body div.city-detail section.forecast ul.forecast-list li ul li {
  position: relative;
  float: left;
  width: 25%;
  line-height: 26px;
}
body div.city-detail section.forecast ul.forecast-list li ul li:nth-child(2) {
  text-align: right;
}
body div.city-detail section.forecast ul.forecast-list li ul li:nth-child(2) img {
  margin-top: 5px;
  height: 20px;
  width: 20px;
}
body div.city-detail section.forecast ul.forecast-list li ul li:nth-child(3),
body div.city-detail section.forecast ul.forecast-list li ul li:nth-child(4) {
  text-align: right;
}
body div.city-detail section.today-details {
  position: relative;
  width: 100%;
  padding-bottom: 60px;
}
body div.city-detail section.today-details p.today-summary {
  margin: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
body div.city-detail section.today-details ul.today-details-list {
  position: relative;
  padding-top: 10px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}
body div.city-detail section.today-details ul.today-details-list li {
  height: 20px;
}
body div.city-detail section.today-details ul.today-details-list li ul li {
  position: relative;
  float: left;
  width: 140px;
}
body div.city-detail section.today-details ul.today-details-list li ul li:nth-child(1) {
  text-align: right;
  padding-right: 5px;
}
body div.city-detail section.today-details ul.today-details-list li ul li:nth-child(2) {
  padding-left: 5px;
}
body div.city-detail section img {
  width: 30px;
  height: 30px;
}
body .cities-list {
  display: block;
}
body .cities-list ul {
  position: relative;
}
body .cities-list ul li {
  height: 84px;
}
body .cities-list ul li ul li {
  position: absolute;
  height: 84px;
}
body .cities-list ul li ul li img {
  margin-top: 9px;
  width: 50px;
  padding-left: 5px;
}
body .cities-list ul li ul li:nth-child(1) {
  left: 0px;
  right: 100px;
}
body .cities-list ul li ul li:nth-child(1) div {
  padding-left: 16px;
}
body .cities-list ul li ul li:nth-child(1) div.time {
  margin-top: 19px;
  font-size: 15px;
}
body .cities-list ul li ul li:nth-child(1) div.city-name {
  margin-top: 11px;
  font-size: 30px;
}
body .cities-list ul li ul li:nth-child(2) {
  right: 0px;
  width: 97px;
  line-height: 84px;
  font-size: 65px;
  font-family: 'HelveticaNeue-UltraLight', Helvetica, Arial, Sans-Serif;
}
.is-night {
  background-color: #141830;
  background: -webkit-gradient(linear, left top, left bottom, from(#141830), to(#262c43));
  background: -webkit-linear-gradient(top, #141830, #262c43);
  background: -moz-linear-gradient(top, #141830, #262c43);
  background: -ms-linear-gradient(top, #141830, #262c43);
  background: -o-linear-gradient(top, #141830, #262c43);
}
.is-night ul.today-overview,
.is-night section.today,
.is-night section.forecast,
.is-night p.today-summary {
  border-bottom: 1px solid #8d8f9a;
}
.is-night.today-details,
.is-night nav {
  border-top: 1px solid #8d8f9a;
}
.is-night ul.today-overview li:nth-child(2),
.is-night ul.today-overview li:nth-child(4) {
  color: #8d8f9a;
}


.is-night-cloudy {
  background-color: #0b131e;
  background: -webkit-gradient(linear, left top, left bottom, from(#0b131e), to(#232931));
  background: -webkit-linear-gradient(top, #0b131e, #232931);
  background: -moz-linear-gradient(top, #0b131e, #232931);
  background: -ms-linear-gradient(top, #0b131e, #232931);
  background: -o-linear-gradient(top, #0b131e, #232931);
}
.is-night-cloudy ul.today-overview,
.is-night-cloudy section.today,
.is-night-cloudy section.forecast,
.is-night-cloudy p.today-summary {
  border-bottom: 1px solid #8b8f92;
}
.is-night-cloudy.today-details,
.is-night-cloudy nav {
  border-top: 1px solid  #8b8f92;
}
.is-night-cloudy ul.today-overview li:nth-child(2),
.is-night-cloudy ul.today-overview li:nth-child(4) {
  color:  #8b8f92;
}


.is-day {
  background-color: #2f76a1;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f76a1), to(#549dc5));
  background: -webkit-linear-gradient(top, #2f76a1, #549dc5);
  background: -moz-linear-gradient(top, #2f76a1, #549dc5);
  background: -ms-linear-gradient(top, #2f76a1, #549dc5);
  background: -o-linear-gradient(top, #2f76a1, #549dc5);
}
.is-day ul.today-overview,
.is-day section.today,
.is-day section.forecast,
.is-day p.today-summary {
  border-bottom: 1px solid #a1c8df;
}
.is-day.today-details,
.is-day nav {
  border-top: 1px solid #a1c8df;
}
.is-day ul.today-overview li:nth-child(2),
.is-day ul.today-overview li:nth-child(4) {
  color: #a1c8df;
}

.is-day-cloudy {
  background-color: #718291;
  background: -webkit-gradient(linear, left top, left bottom, from(#718291), to(#617588));
  background: -webkit-linear-gradient(top, #718291, #617588);
  background: -moz-linear-gradient(top, #718291, #617588);
  background: -ms-linear-gradient(top, #718291, #617588);
  background: -o-linear-gradient(top, #718291, #617588);
}
.is-day-cloudy ul.today-overview,
.is-day-cloudy section.today,
.is-day-cloudy section.forecast,
.is-day-cloudy p.today-summary {
  border-bottom: 1px solid #b6c0c9;
}
.is-day-cloudy.today-details,
.is-day-cloudy nav {
  border-top: 1px solid #b6c0c9;
}
.is-day-cloudy ul.today-overview li:nth-child(2),
.is-day-cloudy ul.today-overview li:nth-child(4) {
  color: #b6c0c9;
}



nav {
  position: fixed;
  height: 42px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
nav.is-night {
  background: #262c43;
}
nav.is-day {
  background:#2f76a1;
}
nav div {
  position: absolute;
  font-size: 25px;
  height: 42px;
}
nav div.disabled {
  opacity: 0.2;
 
}
nav div.next-prev-nav {
  width: 120px;
  left: 50%;
  margin-left: -60px;
  padding-top: 10px;
  opacity: 0.9;
}
nav div.next-prev-nav div {
  font-size: 14px;
}
nav div.next-prev-nav .prev-button {
  left: 0px;
  width: 20px;
}
nav div.next-prev-nav .indicator-dots {
  left: 30px;
  right: 30px;
  text-align: center;
}
nav div.next-prev-nav .indicator-dots span {
  opacity: 0.5;
}
nav div.next-prev-nav .indicator-dots span.current {
  opacity: 1;
}
nav div.next-prev-nav .next-button {
  right: 0px;
  width: 20px;
  text-align: right;
}
nav div.list-button {
  right: 0px;
  width: 30px;
}
.hide{
display:none;
}
div.degree_Ce_Fr {
left: 39px;
width:50px;
position: fixed;
}
.degree_C {
width: 24px;
right: 15px;
height: 29px;
border: none;
background: transparent;
color: white;
display: inline;
position: absolute;
font-size: 18px;
left: -35px;
top: 12px;
}
.degree_F {
width: 34px;
left: -8px;
height: 30px;
border: none;
background: transparent;
color: white;
display: inline;
position: absolute;
font-size: 18px;
top: 12px;
}
nav div.degree_C_F .backslash{
display:inline;
width:10px;
height:10px;
left:5px;
right:5px;
}
.city-list {
background: #555;
border-top: 2px solid #444040;
position: fixed;
height: 42px;
left: 0px;
bottom: 0px;
right: 0px;
}
.city-list .text_para {
float: right;
font-size: 16px;
font-weight: lighter;
/*padding-right: 12px;
margin-top: 10px;*/
opacity: 0.5;
}
.powered-by {
float: right;
position: fixed;
bottom: 1px;
right: 4px;
font-size: 16px;
opacity: 0.5;
}
.not_selected_C_F{
opacity:0.5;
}